	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-6 text-left">
					<p class="copyright text-muted small">
						<small>
							&copy; 2014 Seemant Kulleen. All rights reserved.
						</small>
					</p>
				</div><!--.col-lg-6 .col-sm-6-->
				<div class="col-lg-6 col-sm-6 text-right">
					<a href="{{ site.url }}/#page-top" class="btn btn-default btn-sm">
						<small>
							<i class="fa fa-arrow-circle-up fa-fw"></i>Back to Top
						</small>
					</a>
				</div><!--.col-lg-6 .col-sm-6-->
			</div><!--.row-->
		</div><!--.container-->
	</footer>

	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<!-- Medium.com embedder -->
	<script async src="https://static.medium.com/embed.js"></script>


	<script>
		$(document).ready(function() {
			$('.carousel').carousel();
		});
	</script>
</body>
</html>
