<article class="content-section-a" id="preso">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Slides</h2>
			</div><!--.col-lg-6 .col-sm-6-->
			<div class="col-lg-6 col-sm-6">
				<div class="carousel slide" id="carousel-preso" data-ride="carousel-preso">
					<ol class="carousel-indicators">
					{% for slide in site.data.slides.slides %}
						<li {% if forloop.first %}class="active"{% endif %}data-slide-to="{{ forloop.index0 }}" data-target="#carousel-preso">
					{% endfor %}
					</ol>
					<div class="carousel-inner">
					{% for slide in site.data.slides.slides %}
						<div class="item{% if slide.active %} active{% endif %}">
							<iframe width="560" height="315" src="{{ slide.href }}" frameborder="0" allowfullscreen></iframe>
						</div><!--.item-->
					{% endfor %}
					</div><!--.carousel-inner-->
				</div><!--.carousel .slide-->
			</div><!--.col-lg-6 .col-sm-6-->
		</div><!--.row-->
	</div><!--.container-->
</article><!--/#preso-->
