<article class="content-section-a" id="preso">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Slides</h2>
			</div><!--.col-lg-6 .col-sm-6-->
			<div class="col-lg-6 col-sm-6">
				<div class="carousel slide" id="carousel-preso" data-ride="carousel-preso">
					<ol class="carousel-indicators">
						<li class="active" data-slide-to="0" data-target="#carousel-preso">
						<li data-slide-to="1" data-target="#carousel-preso">
						<li data-slide-to="2" data-target="#carousel-preso">
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<iframe width="560" height="315" src="//www.youtube.com/embed/BGIukjupvds?rel=0&start=404" frameborder="0" allowfullscreen></iframe>
						</div><!--.item .active-->
						<div class="item">
							<iframe width="560" height="315" frameborder="0" src="//speakerdeck.com/player/a669866010a801301e661231381d5f4b?" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"><!-- style="border: 0px; margin: 0px; padding: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; width: 0px; height: 62px; background: transparent;"--></iframe>
						</div><!--.item-->
						<div class="item">
							<iframe width="560" height="315" frameborder="0" src="//speakerdeck.com/player/c893b6e014ce0131e1a10afc5870265d?" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
						</div><!--.item-->
					</div><!--.carousel-inner-->
				</div><!--.carousel .slide-->
			</div><!--.col-lg-6 .col-sm-6-->
		</div><!--.row-->
	</div><!--.container-->
</article><!--/#preso-->

<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div clas="modal-body">
				<h3>blah</h3>
			</div>
		</div>
	</div>
</div>
