<section class="portfolio" id="vizard">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Toys</h2>
        <hr class="star-primary">
      </div><!--.col-lg-12-->
    </div><!--.row-->
    <div class="row">
      <div id="carousel-writing" class="carousel slide" data-ride="vizard">
        <div class="carousel-inner">
					{% for viz in site.viz %}
          </div>
						{{ viz }}
        </div><!--.carousel-inner-->
      </div><!--.carousel .slide-->
    </div><!--.row-->
  </div><!--.container-->
</section>
