<article class="content-section-b" id="dataviz">
  <div class="container">
    <div class="row">
      	<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        	<hr class="section-heading-spacer">
			<div class="clearfix"></div>
			<h2 class="section-heading">Data</h2>
			<ul class="lead">
				<li>Interactive data visualizations.</li>
				<li>Data control widgets.</li>
				<li>I help your data tell your story.</li>
			</ul>
      	</div><!--.col-lg-5 .col-lg-offset-1 .col-sm-push-6 .col-sm-6-->
		<div class="col-lg-5 col-sm-pull-6 col-sm-6">
			<div class="carousel slide" id="carousel-viz" data-ride="carousel-viz">
                <ol class="carousel-indicators">
                	<li class="active" data-slide-to="0" data-target="#carousel-viz">
                	<li data-slide-to="1" data-target="#carousel-viz">
                	<li data-slide-to="2" data-target="#carousel-viz">
                </ol>

				<div class="carousel-inner">
					<div class="item active">
						<a href="/viz/svx/detail/"><img src="/viz/svx/detail/thumbnail.png"></a>
						<div class="carousel-caption">
							<p><em>wishy-washy</em> widget</3>
						</div><!--.carousel-caption-->
					</div><!--.item .active-->
					<div class="item">
						<a href="/viz/svx/overview/"><img src="/viz/svx/overview/thumbnail.png"></a>
						<div class="carousel-caption">
							<p><em>turny-zoomy</em> widget</p>
						</div><!--.carousel-caption-->
					</div><!--.item-->
					<div class="item">
						<a href="/viz/gentoo/galaxy/"><img src="/viz/gentoo/galaxy/thumbnail.png"></a>
						<div class="carousel-caption">
							<p><em>streamy &amp; twinkly</em></p>
						</div><!--.carousel-caption-->
					</div><!--.item-->
				</div><!--.carousel-inner-->
                <!-- Next and Previous controls -->
                <a href="#carousel-viz" class="carousel-control left"
                   data-slide="prev">
                    <span class="fa fa-chevron-left icon-prev"></span>
                </a>
                <a href="#carousel-viz" class="carousel-control right"
                   data-slide="next">
                    <span class="fa fa-chevron-right icon-next"></span>
                </a>
			</div><!--.carousel-slide .#carousel-viz-->
		</div><!--.col-lg-5 .col-sm-pull-6 .col-sm-6-->
    </div><!--.row-->
  </div><!--.container-->
</article><!--dataviz-->
