<section class="portfolio" id="writing">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Words</h2>
				<hr class="star-primary">
			</div><!--.col-lg-12-->
		</div><!--.row-->
		<div class="row">
			<div id="carousel-writing" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active"><!-- active since it is first -->
						<a href="https://medium.com/the-state-of-california/a-sunday-morning-promenade-ac0c7ca329a1"
								class="m-story"
								data-collapsed="true"
								data-width="100%"
						>
							Sunday Morning Promenade
						</a>
						<div class="carousel-caption">
						</div><!--.carousel-caption-->
					</div><!--.item.active-->
					<div class="item">
						<a href="https://medium.com/everything-else-1/a-promenade-caricature-6493f649a201"
								class="m-story"
								data-collapsed="true"
								data-width="100%"
						>
							A Promenade Caricature
						</a>
						<div class="carousel-caption">
						</div><!--.carousel-caption-->
					</div><!--.item-->
					<div class="item">
							<a href="https://medium.com/linux-operation-system/re-emerging-history-i-27f8b0b493d3"
								class="m-story"
								data-collapsed="true"
								data-width="100%"
							>
								Re-emerging History (I)
							</a>
						<div class="carousel-caption">
						</div><!--.carousel-caption-->
					</div><!--.item-->
					<div class="item">
						<a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/deepest-darkest-digital-africa-1/twishibane-c26aeee803c1">Twishibane</a>
						<div class="carousel-caption">
						</div><!--.carousel-caption-->
					</div><!--.item-->
				</div><!--.carousel-inner-->
				<!-- Next and Previous controls -->
				<a href="#carousel-writing"
						class="carousel-control left"
						data-slide="prev"
				>
					<i class="fa fa-chevron-left"></i>
				</a>
				<a
						class="carousel-controln right"
						href="#carousel-writing"
						data-slide="next"
				>
					<i class="fa fa-chevron-right"></i>
				</a>
			</div><!--.carousel-->
		</div><!--.row-->
	</div><!--.container-->
</section><!--.portfolio #writing-->
