<section class="portfolio" id="writing">
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 text-center">
				<h2>Writing</h2>
				<hr class="star-primary">
			</div><!--.col-lg-12-->
			<div class="col-lg-2"></div>
		</div><!--.row-->
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="carousel slide" id="carousel-writing" data-ride="carousel-writing">
					<ol class="carousel-indicators">
					{% for article in site.data.writing.medium %}
					<li {% if forloop.first %}class="active"{% endif %}data-slide-to="{{ forloop.index0 }}" data-target="#carousel-writing">
					{% endfor %}
					</ol>
					<div class="carousel-inner">
					{% for article in site.data.writing.medium %}
					
						<div class="item{% if article.active %} active {% endif %}">
							<a href="{{ article.href }}" class="m-story" data-collapsed="true" data-width="100%" data-border="false">
								{{ article.title }}
							</a>
							<div class="carousel-caption">
							</div><!--.carousel-caption-->
						</div><!--.item-->
					{% endfor %}
					</div><!--.carousel-inner-->
					<!-- Next and Previous controls -->
					<a href="#carousel-writing" class="carousel-control left"
					   data-slide="prev">
						<span class="fa fa-chevron-left icon-prev"></span>
					</a>
					<a href="#carousel-writing" class="carousel-control right"
					   data-slide="next">
						<span class="fa fa-chevron-right icon-next"></span>
					</a>
				</div><!--.carousel-->
			</div><!--.col-lg-8-->
			<div class="col-lg-2"></div>
		</div><!--.row-->
	</div><!--.container-->
</section><!--.portfolio #writing-->
