<section class="portfolio" id="writing">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Words</h2>
				<hr class="star-primary">
			</div><!--.col-lg-12-->
		</div><!--.row-->
		<div class="row">
			<p class="text-center">Notes on 4 ongoing journeys: writing, data visualization, entrepreneurship, and personal growth.</p>
			<div id="carousel-writing" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				{% for article in site.data.writing.medium %}
				{% if article.active %}
					<div class="item active">
				{% else %}
					<div class="item">
				{% endif %}
						<a href="{{ article.href }}" class="m-story" data-collapsed="true" data-width="100%">
							{{ article.title }}
						</a>
						<div class="carousel-caption">
						</div><!--.carousel-caption-->
					</div><!--.item-->
				{% endfor %}
				</div><!--.carousel-inner-->
				<!-- Next and Previous controls -->
				<a href="#carousel-writing"
						class="carousel-control left"
						data-slide="prev"
				>
					<i class="fa fa-chevron-left icon-prev"></i>
				</a>
				<a
						class="carousel-control right"
						href="#carousel-writing"
						data-slide="next"
				>
					<i class="fa fa-chevron-right icon-next"></i>
				</a>
			</div><!--.carousel-->
		</div><!--.row-->
	</div><!--.container-->
</section><!--.portfolio #writing-->
