{% comment %}
	<article> starts here and ends in viz/explanations.html
{% endcomment %}
<article>
    <div class="page-header text-center">
        <div class="container">
            <div class="row">
                <h4 class="navbar-left"><small>Data Visualization</small></h4>
                <h1>{{ page.viztitle }}</h1>
                <h2><sup><small>{{ page.toy }}</small></sup></h2>
            </div><!--.row-->
            <div class="row">
                <h3>{{ page.tagline }}</h3>
            </div><!--.row-->
        </div><!--.container-->
    </div><!--.page-header-->

