<article>
	<div class="col-xl-12 page-header text-center">
		<h1><small>Data Visualization</small>{{ page.viztitle }}</h1>
	</div><!--.page-header-->

	<!-- The Visualization -->
	<div class="container">
		<div class="row">
			<div id="metadata" class="col-lg-4 col-sm-4 table-responsive text-center">
				<h3 class="text-right" id="legend-title"></h3>
				<table id="legend" class="table table-condensed">
					<thead></thead>
					<tbody></tbody>
				</table><!--.table#legend-->
			</div><!--.col-lg-4#metadata-->

			<div class="col-lg-8 col-sm-8 viz">
				<h3 class="text-left" id="viz-title"></h3>
			</div><!--.viz-->

			<div class="col-lg-12 col-sm-12 text-center">
				{{ page.viznav }}: <ul class="pagination" id="viz-nav"></ul>
			</div><!--.nav-->
		</div><!--.row-->
	</div><!--.container-->

	{% include viz/explanations.html %}
</article>

<!-- Auxiliary files needed -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<script src="js/abacus.js" charset="utf-8"></script>

<link href="css/style.css" rel="stylesheet">
