<article>
	<div class="page-header text-center">
		<div class="container">
			<div class="row">
				<h4 class="navbar-left"><small>Data Visualization</small></h4>
				<h1>{{ page.viztitle }}</h1>
				<h2><sup><small>{{ page.toy }}</small></sup></h2>
			</div><!--.row-->
			<div class="row">
				<h3>{{ page.tagline }}</h3>
			</div><!--.row-->
		</div><!--.container-->
	</div><!--.page-header-->

	<!-- The Visualization -->
	<div class="container" id="visualization">
		<div class="row">
			<div id="metadata" class="col-lg-4 col-sm-12 table-responsive text-center">
				<h4 id="legend-title"></h4>
				<table id="legend" class="table table-condensed">
					<thead></thead>
					<tbody></tbody>
				</table><!--.table#legend-->
			</div><!--.col-lg-4#metadata-->

			<div class="col-lg-6 col-sm-12 viz">
				<h4 class="text-center" id="viz-title"></h4>
			</div><!--.viz-->

			<div class="col-lg-2 col-sm-12 text-right">
				<h6 class="text-left">{{ page.viznav }}:</h6>
				<ul class="nav nav-pills nav-stacked" id="viz-nav"></ul>
			</div><!--.nav-->
		</div><!--.row-->
	</div><!--.container-->

	{% include viz/explanations.html %}
</article>

<!-- Auxiliary files needed -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<script src="js/abacus.js" charset="utf-8"></script>

<link href="css/style.css" rel="stylesheet">
