	<!-- The Visualization -->
	<div class="container" id="visualization">
		<div class="row">
			<div class="col-lg-6 col-sm-12 text-center" id="viz">
				<h4 id="viz-title"></h4>
			</div><!--.viz-->
			<div class="viz-nav panel col-lg-6 col-sm-12 text-center">
				<div class="panel-heading">
					{% include viz/player.html %}
					<h3 class="panel-title" id="legend-title"></h3>
					<div id="ager">
						{% include viz/progress.html %}
					</div><!--/#ager-->
				</div><!--.panel-heading-->
				<div class="panel-body">
					<div id="chooser"></div>
					<div id="loader">
						{% include viz/progress.html %}
					</div><!--/#loader-->
				</div>
			</div><!--.viz-nav-->
		</div><!--.row-->
	</div><!--.container-->
	<div class="tooltip"></div>

<!-- Auxiliary files needed for this viz -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

{% for inc in page.includes %}
<script src="{{ inc }}" charset="utf-8"></script>
{% endfor %}
<script src="js/abacus.js" charset="utf-8"></script>

<link href="css/style.css" rel="stylesheet">
