div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: #ffb;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

path {
  stroke: #fff;
  stroke-width: 2;
  fill-rule: evenodd;
}

#legend {
    overflow: hidden;
}

th,
td {
    text-align: right;
}

td.cell-category,
th.cell-category {
    text-align: left;
}

.notme {
    fill-opacity: .4;
}
